@import url("https://fonts.googleapis.com/css2? family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
	margin: 2;
	padding: 2;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}



section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:rgb(155, 155, 180);
}

section .circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ce08cec2;
	clip-path: circle(70% at right -20%);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	position: relative;
	max-width: 150px;
}

header .navigation {
	position: relative;
	display: flex;
}

header .navigation li {
	list-style: none;
}

header .navigation li a {
	display: inline-block;
	color: rgb(1, 15, 27);
	border: #222;
	
	font-weight: 400;
	text-decoration: none;
	margin-left: 30px;
}

.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .textBox {
	position: absolute;
	max-width: 600px;
	margin-right: 20px;
}

.content .textBox h2 {
	color: rgb(19, 10, 10);
	font-size: 3rem;
	margin-bottom: 0px;
	line-height: 1.4em;
}

.content .textBox p {
	color: white;
}

.content .textBox a {
	display: inline-block;
	margin-top: 20px;
	padding: 6px 20px;
	background: #ce08cec2;
	color: white;
	border-radius: 45px;
	font-weight: 400;
	letter-spacing: 2px;
	text-decoration: none;
}

.sci {
	position: absolute;
	bottom: 45px;
	left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li {
	list-style: none;
}

.sci li a {
	display: grid;
	margin-left: 15px;
	background: #222;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.sci li a:hover {
	background: #ce08cec2;
	transform: translateY(-10px);
}

.sci li a img {
	filter: invert(1);
	transform: scale(0.5);
}

@media (max-width: 991px) {
	header {
		padding: 50px;
	}
	section {
		padding: 140px 30px;
	}
	.sci {
		left: 30px;
	}
	.content {
		flex-direction: column;
	}
	.content .textBox {
		max-width: 100%;
	}
	header .navigation {
		display: none;
	}
	header .navigation.active {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #ce08cec2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
	header .navigation li a {
		margin: 10px 0;
		font-size: 1.5em;
		font-weight: 300;
	}
	.toggle {
		position: relative;
		width: 20px;
		height: 20px;
		background: url(./img/menu\\(1\).png);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 10000;
	}
	.toggle.active {
		position: fixed;
		right: 30px;
		background: url(./img/close\\(1\).png);
		background-size: 35px;
		background-repeat: no-repeat;
		background-position: center;
	}
}
