* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/*font-size: 16px;*/
	line-height: 1.7;
	color: #000;
	padding: 3rem;
	background-image: linear-gradient(-45deg, #05fa42f3, #115021cc),
		url(./img/money.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
}

.heading-primary-main {
	color: #fff;
}

.heading-primary-sub {
	color: #fff;
}

header .navigation {
	position: relative;
	display: flex;
}

header .navigation li {
	list-style: none;
}

header .navigation li a {
	display: inline-block;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
}

.box-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.single-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: auto;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	margin: 20px;
	padding: 20px;
	transition: 0.3s;
}

.img-area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding: 20px;
	box-sizing: cover;
	background-size: cover;
	background-position: center center;
}

.header-text {
	font-size: 24px;
	font-weight: 500;
	line-height: 48px;
}

.img-text {
	font-family: Poppins;
	padding-top: 20px;
}

.img-text p {
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
}

.single-box:hover {
	background: linear-gradient(
		-45deg,
		rgba(64, 11, 107, 0.8),
		rgba(255, 1, 221, 0.8)
	);
}

@media (max-width: 991px) {
	header {
		padding: 40px;
	}
	section {
		padding: 150px 40px;
	}
	header .navigation {
		display: none;
	}
	header .navigation.active {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #0df32c;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
	header .navigation li a {
		margin: 10px 0;
		font-size: 1.5em;
		font-weight: 300;
	}
	.toggle {
		position: relative;
		width: 30px;
		height: 30px;
		background: url(./img/menu\\(1\).png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 10000;
	}
	.toggle.active {
		position: fixed;
		background: url(./img/close\\(1\).png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
}
